# Outputs
src/**/*.js
src/**/*.js.map
src/**/*.d.ts

# Keep schema definition files
!src/**/schema.d.ts

# IDEs
.idea/
*.iml
jsconfig.json
.vscode/

# Misc
node_modules/
npm-debug.log*
yarn-error.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store


# Custom keep
!src/*/files/**/*
