# IDEs
.idea/
*.iml
jsconfig.json
.vscode/

# Ignores TypeScript and map files, but keeps definitions.
*.ts
*.map
!*.d.ts

# Ignores Unit-Test
src/**/*_spec.js
src/**/*_spec.d.ts

# Others
!src/*/files/**/*
