$font-family-base: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$loading-main-color: #333;
$loading-current-color: #e74c3c;
$loading-done-color: #48a74a;

$header-bg: #343a40 !default;
$header-color: #ced4da !default;

$body-bg: #eee !default;

$footer-bg: #ced4da !default;
$footer-color: #565656 !default;
